div.animation {
  width: 100%;
  height: 100vh;
  background-color: #e08958;
  position: fixed; //固定位置
  z-index: 5; //設數字大一點代表在越上層 不會被蓋住
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

#first {
  stroke-dasharray: 429px;
  //stroke-dasharray屬性是一種表示屬性，它定義用於繪製形狀輪廓的虛線和間隙的模式
  stroke-dashoffset: 429px;
  animation: fadeInside 0.6s ease-in forwards;
}

#second {
  stroke-dasharray: 305px;
  //stroke-dasharray屬性是一種表示屬性，它定義用於繪製形狀輪廓的虛線和間隙的模式
  stroke-dashoffset: 305px;
  animation: fadeInside 0.6s ease-in forwards 0.3s;
}

#third {
  stroke-dasharray: 312px;
  //stroke-dasharray屬性是一種表示屬性，它定義用於繪製形狀輪廓的虛線和間隙的模式
  stroke-dashoffset: 312px;
  animation: fadeInside 0.6s ease-in forwards 0.6s;
}

#fourth {
  stroke-dasharray: 430px;
  //stroke-dasharray屬性是一種表示屬性，它定義用於繪製形狀輪廓的虛線和間隙的模式
  stroke-dashoffset: 430px;
  animation: fadeInside 0.6s ease-in forwards 0.9s;
}

#fifth {
  stroke-dasharray: 306px;
  //stroke-dasharray屬性是一種表示屬性，它定義用於繪製形狀輪廓的虛線和間隙的模式
  stroke-dashoffset: 306px;
  animation: fadeInside 0.6s ease-in forwards 1.1s;
}

#sixth {
  stroke-dasharray: 311px;
  //stroke-dasharray屬性是一種表示屬性，它定義用於繪製形狀輪廓的虛線和間隙的模式
  stroke-dashoffset: 311px;
  animation: fadeInside 0.6s ease-in forwards 1.2s;
}

#sixth {
  stroke-dasharray: 438px;
  //stroke-dasharray屬性是一種表示屬性，它定義用於繪製形狀輪廓的虛線和間隙的模式
  stroke-dashoffset: 438px;
  animation: fadeInside 0.6s ease-in forwards 1.3s;
}

#seventh {
  stroke-dasharray: 438px;
  //stroke-dasharray屬性是一種表示屬性，它定義用於繪製形狀輪廓的虛線和間隙的模式
  stroke-dashoffset: 438px;
  animation: fadeInside 0.6s ease-in forwards 1.4s;
}

#eighth {
  stroke-dasharray: 318px;
  //stroke-dasharray屬性是一種表示屬性，它定義用於繪製形狀輪廓的虛線和間隙的模式
  stroke-dashoffset: 318px;
  animation: fadeInside 0.6s ease-in forwards 1.5s;
}

#ninth {
  stroke-dasharray: 311px;
  //stroke-dasharray屬性是一種表示屬性，它定義用於繪製形狀輪廓的虛線和間隙的模式
  stroke-dashoffset: 311px;
  animation: fadeInside 0.6s ease-in forwards 1.6s;
}

#tenth {
  stroke-dasharray: 897px;
  //stroke-dasharray屬性是一種表示屬性，它定義用於繪製形狀輪廓的虛線和間隙的模式
  stroke-dashoffset: 897px;
  animation: fadeInside 0.6s ease-in forwards 1.7s;
}
#eleventh {
  stroke-dasharray: 884px;
  //stroke-dasharray屬性是一種表示屬性，它定義用於繪製形狀輪廓的虛線和間隙的模式
  stroke-dashoffset: 884px;
  animation: fadeInside 0.6s ease-in forwards 1.8s;
}

#twelfth {
  stroke-dasharray: 897px;
  //stroke-dasharray屬性是一種表示屬性，它定義用於繪製形狀輪廓的虛線和間隙的模式
  stroke-dashoffset: 897px;
  animation: fadeInside 1s ease-in forwards 1s;
}
#thirteenth {
  stroke-dasharray: 884px;
  //stroke-dasharray屬性是一種表示屬性，它定義用於繪製形狀輪廓的虛線和間隙的模式
  stroke-dashoffset: 884px;
  animation: fadeInside 1s ease-in forwards 1.4s;
}

#fourteenth {
  stroke-dasharray: 1111px;
  //stroke-dasharray屬性是一種表示屬性，它定義用於繪製形狀輪廓的虛線和間隙的模式
  stroke-dashoffset: 1111px;
  animation: fadeInside 1s ease-in forwards 1.8s;
}

svg {
  animation: fill 1s ease-in forwards 1.8s;
}

@keyframes fadeInside {
  to {
    stroke-dashoffset: 0px;
  }
}

@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: white;
  }
}
