* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Noto Serif TC", serif;
}

body {
  position: relative;
}

.backpic {
  position: absolute;
  top: -10vh;
  right: 0;
  z-index: -10;
  width: 55vw;
  height: 150vh;
  opacity: 0.9;
}

header {
  nav {
    width: 100%;
    height: 10vh;
    background-color: rgb(223, 139, 70);
    opacity: 0.9;

    ul {
      padding: 2rem;
      width: 70%;
      display: flex;
      list-style-type: none;
      justify-content: space-around;

      li {
        font-size: 1.8rem;
        a {
          color: white;
          text-decoration: none;
        }
      }
    }
  }
}

main {
  display: flex;
  flex-wrap: wrap;
  section.left {
    flex: 6 1 500px;
    padding: 2rem;

    h1 {
      padding: 2rem;
      font-size: 4rem;
      color: rgb(233, 163, 33);
    }
    p {
      font-size: 1.5rem;
      padding: 1rem 2rem;
    }
  }
  section.right {
    flex: 1 1 200px;
    position: relative;
    img {
      width: 20vw;
      height: 40vh;
      border-radius: 100%;
      position: absolute;
      top: 30vh;
      right: 10vw;
      //transform: translateY(-50);
    }
  }

  section.table {
    flex: 3 1 500px;
    padding: 2rem;
    font-size: 1.3rem;
    table {
      border-top: 1.8px solid rgb(194, 194, 194);
      border-collapse: collapse;
      tr {
        border-bottom: 1.8px solid rgb(194, 194, 194);
        justify-self: center;
        align-items: center;
        transition: all 0.2s ease;
        td {
          padding: 0.5rem;
        }
        &:hover {
          background-color: rgb(255, 243, 221);
        }
      }
    }
  }

  section.picture {
    flex: 1 1 600px;
    position: relative;
    top: 50px;
    left: 60px;
    img {
      height: 60vh;
      width: 20vw;
    }
    div.OrangeBack {
      width: 20vw;
      height: 60vh;
      background-color: peru;
      position: absolute;
      top: 40px;
      left: 60px;
      z-index: -1;
    }
  }
}

footer {
  padding: 2rem;
  a {
    padding: 3rem;
  }
  img {
    width: 6vw;
    height: 10vh;
  }
}

.active {
  color: rgb(82, 52, 8);
}

@media screen and (max-width: 800px) {
  .backpic {
    opacity: 0.3;
    width: 20vw;
    height: 80%;
  }
  // 因為flexbasic一個是300一個是500
  header {
    nav {
      width: 100%;
      height: 20%;
      background-color: rgb(223, 139, 70);
      opacity: 0.9;
      ul {
        width: 100%;
        flex-direction: column;
        li {
          border-bottom: rgb(151, 118, 80) 2px solid;
          padding: 1rem 0rem;
          font-size: 1.5rem;
        }
      }
    }
  }

  main {
    padding: 2rem;
    section.right {
      display: flex;
      align-items: center; //平行對齊置中
      justify-content: center; //垂直對齊置中
      padding: 0.5rem;

      img {
        position: static; //將圖片為靜態 接者調整大小
        width: 60vw;
        height: 40vh;
      }
    }
    section.left {
      h1 {
        font-size: 3rem;
      }
      p {
        font-size: 1.5rem;
      }
    }

    section.table {
      table {
        padding: 2rem;
        border-collapse: collapse;
        border-top: 2px solid rgb(180, 170, 170);
        tr {
          border-bottom: 2px solid rgb(180, 170, 170);
          td {
            padding: 1rem;
          }
        }
      }
    }

    section.picture {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 35vw;
        height: 50vh;
        position: absolute;
      }
      div.OrangeBack {
        width: 35vw;
        height: 50vh;
        top: 40px;
        left: 60px;
        position: relative;
        opacity: 0.8;
      }
    }
  }

  footer {
    a {
      img {
        width: 18vw;
        height: 18vh;
      }
    }
  }
}
